body{
    
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
 .container{
    width: 1170px;
    margin: auto;
} 
.row{
    display: flex;
    justify-content: space-between;
        align-items: center;
}
#navbar{
    background: #02918b;
}

        

#navbar ul li a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 20px ;
}
#navbar ul li a:hover{
    background: #cfc91d;
    color: #0b1016;
}
.banner{
    /* height: 728px; */
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url(./img/Bbanner.jpg) ;
    background-position: center top;
    position: relative;
    background-size: cover;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}
.banner ::after{
    content:'' ;
    position: absolute;
    background: #0b1016 ;
    opacity: 0.3;
    inset: 0;
    z-index: -1;
}     



.banner h1{
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 30px;
    line-height: 75px;
}
.banner h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;

}
.banner p{
    font-size: 18px;
    line-height: 33px;
}
.banner img{
    display: block;
    margin: auto;
}
.banner a {
    font-size: 14px;
    color: #0b1016;
    background: #cfc91d;
    font-weight: 800;
    display: inline-block;
    padding: 10px 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


